@import url("https://fonts.googleapis.com/css?family=Charm:400,700&display=swap");

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    background-color: #059be5;
}

main {
    flex: 1 0 auto;
}

a {
    color: darkblue;
}

p {
    font-size: 1.2rem;
}

.btn,
.btn-large,
.btn-small {
    background-color: #059be5;
}

button a {
    color: white;
}

footer {
    text-align: center;
    padding-top: 0;
    height: 50px;
    font-family: "Charm", cursive;
}
footer p {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

footer span {
    line-height: 50px;
}
