{% extends 'base.html' %} {% block content %}

<h2>Friend Details</h2>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ friend.name }}</span>
                <p>Background: {{ friend.background }}</p>
                <p>Likes: {{ friend.likes }}</p>
                {% if friend.age > 18 %}
                <p>Age: {{ friend.age }}</p>
                {% else %}
                <p>Age: Underage!</p>
                {% endif %}
            </div>
            <div class="card-action">
                <a href="{% url 'friends_update' friend.id %}" class="blue-text"
                    >Edit</a
                >
                <a href="{% url 'friends_delete' friend.id %}" class="blue-text"
                    >Delete</a
                >
            </div>
        </div>
    </div>
    <div class="col s6">
        <form action="{% url 'give_booze' friend.id %}" method="post">
            {% csrf_token %} {{ feeding_form.as_p }}
            <input type="submit" class="btn" value="Give Booze!" />
        </form>
        {% if friend.enough_booze_for_today %}
        <div class="card-panel blue-text center-align">
            {{friend.name}} had enough booze for today!
        </div>
        {% else %}
        <div class="card-panel red-text center-align">
            {{friend.name}} needs more booze!
        </div>
        {% endif %}
        <table class="striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Booze</th>
                </tr>
            </thead>
            <tbody>
                {% for feeding in friend.feeding_set.all %}
                <tr>
                    <td>{{feeding.date}}</td>
                    <td>{{feeding.get_drink_display}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr />
<div class="row">
    <div class="col s6">
        <h3>{{ friend.name }}'s Interests</h3>
        {% if friend.interests.count %} 
            {% for interest in friend.interests.all%}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        {{ interest.name }}
                    </span>
                </div>
                <div class="card-action">
                <form
                    action="{% url 'dissoc_interest' friend.id interest.id %}"
                    method="post"
                >
                    {% csrf_token %}
                    <button type="submit" class="btn">Delete</button>
                </form>
            </div>
            </div>
            {% endfor %} 
        {% else %}
        <h5>No Interests yet :(</h5>
        {% endif %}
    </div>
    <div class="col s6">
        <h3>Available Interests</h3>
        {% if interests.count %} {% for interest in interests.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    {{ interest.name }}
                </span>
            </div>
            <div class="card-action">
                <form
                    action="{% url 'assoc_interest' friend.id interest.id %}"
                    method="post"
                >
                    {% csrf_token %}
                    <button type="submit" class="btn">Add</button>
                </form>
            </div>
        </div>
        {% endfor %} {% else %}
        <h5>{{friend.name}} Already Has All Interests Available</h5>
        {% endif %}
    </div>
</div>
{% for photo in friend.photo_set.all %}
<img class="responsive-img card-panel" src="{{photo.url}}" />
{% empty %}
<div class="card-panel blue-text center-align">No Photos Uploaded Yet</div>
{% endfor %}
<form
    action="{% url 'add_photo' friend.id %}"
    enctype="multipart/form-data"
    method="POST"
    class="card-panel"
>
    {% csrf_token %}
    <input type="file" name="photo-file" />
    <br /><br />
    <input type="submit" class="btn" value="Upload Photo" />
</form>
<script>
    let dateEl = document.getElementById("id_date");
    M.Datepicker.init(dateEl, {
        format: "yyyy-mm-dd",
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });
    let selectEl = document.getElementById("id_drink");
    M.FormSelect.init(selectEl);
</script>
{% endblock %}
