{% extends 'base.html' %} {% block content %}

<h1>Friends List</h1>

{% for friend in friends %}
<div class="card">
    <a href="{% url 'details' friend.id %}">
        <div class="card-content">
            <span class="card-title">{{ friend.name }}</span>
            <p>Background: {{ friend.background }}</p>
            <p>Likes: {{ friend.likes }}</p>
            {% if friend.age > 18 %}
            <p>Age: {{ friend.age }}</p>
            {% else %}
            <p>Age: Underage!</p>
            {% endif %}
        </div>
    </a>
</div>
{% endfor %} {% endblock %}
